/***************
COLOR VARIABLES
***************/
$primary-color: #6a7738;
$link-color: $primary-color;
$background-color: lightgray;

/***************
CONSISTENT SETTINGS
***************/
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 50px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, serif;

/***************
SIZES
Browser Context (this is needed for the px to em's mixin)
***************/
$browser-context: 16; // Default

/***************
RESPONSIVE BREAKPOINTS
***************/
$breakpoints: (
  sm: 481px,
  md: 768px,
  lg: 1040px,
  wrap: 1440px
);

/***************
IMAGES
***************/
$hero-sm: "hero-background-sm.jpg"; // width should be 800px
$hero-md: "hero-background-md.jpg"; // width should be 1200px
$hero-lg: "hero-background-lg.jpg"; // width should be > 1200px
